<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새로운 기록</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" href="/css/space-theme.css">
</head>
<body>
<div id="floating-sun"></div>
<h1>새로운 우주 기록 작성</h1>
<form method="post" action="/articles">
    <input type="hidden" id="article-id" th:value="${article} != null ? ${article.id} : ''"/>
    <div>
        <label>기록 제목
            <input type="text" id="title" name="title" required>
        </label>
    </div>
    <div>
        <label>기록 내용
            <textarea id="content" name="content" rows="8" required></textarea>
        </label>
    </div>
    <button type="button" id="create-btn">기록 저장</button>
    <a href="/articles">기록 목록으로</a>
</form>
<script src="/js/article.js" defer></script>
<script src="/js/star-effect.js" defer></script>
</body>
</html>
